<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.closing"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Closing</name>

  <description>
      End of day closing reports generator.
  </description>

  <author email="derek_sellers@hotmail.com">
      Derek Sellers
  </author>

</widget>